<div id="cards"><app-card>
        <app-amount-card
            [props]="{ amount: 20, title: 'jeez', color: 'green', icon: 'assets/user-avatar-glad-icon-256x255-cbmmpmut.png' }"></app-amount-card>
    </app-card>
    <app-card>
        <app-amount-card
            [props]="{ amount: 21, title: 'heez', color: 'blue', icon: 'assets/user-avatar-glad-icon-256x255-cbmmpmut.png' }"></app-amount-card>
    </app-card>
    <app-card>
        <app-amount-card
            [props]="{ amount: 22, title: 'geez', color: 'green', icon: 'assets/user-avatar-glad-icon-256x255-cbmmpmut.png' }"></app-amount-card>
    </app-card>
    <app-card>
        <app-amount-card
            [props]="{ amount: 23, title: 'feez', color: 'blue', icon: 'assets/user-avatar-glad-icon-256x255-cbmmpmut.png' }"></app-amount-card>
    </app-card>
</div>